<!DOCTYPE HTML>

<html>
<head>
    <link href="style.css" rel="stylesheet">
    List of questions
</head><br>
<body>
    <div class="questions"><ol>
        {% for item in page.object_list %}
            <li> <a href="/question/{{item.id}}/">{{item.title}}</a></li>
        {%endfor%}
    </ol></div>

    <div class="pagination"><ul class="pagination">
        {% for p in paginator.page_range %}
            {% if p == page.number %} 
                <li class="active">
            {% else %}
                <li>
            {% endif %}
                <a href = "{{paginator.baseurl}}{{p}}">{{p}}</a>
                </li>
        {%endfor%}
    </ul></div>     
</body>
</html>
