<!DOCTYPE HTML>

<html>
<head>Question</head>
<body>
    {{question.title}} <br>
    {{question.text}} <br><br>
    Answers:
    <ol>
    {% for answer in question.answer_set.all %}
        <li>{{answer.text}}</li>
    {% endfor %}
    </ol>
    <br>
    <form action="/question/{{question.id}}/" method="post">
        {% csrf_token %}
        <p>{{error}}</p>
        Give your answer: 
        <input type="text" name="text"><br>
        <input type="submit" value="Add answer"> 
    </form>
</body>
</html>
