<!DOCTYPE HTML>

<html>
<head>
    <link href="style.css" rel="stylesheet">
</head>
<body><center>
    <div class="title">Question</div>
    <div class="question">
        {{question.title}} <br>
        {{question.text}}
    </div>
    <div class="answers">
        Answers:
        <ol>
        {% for answer in question.answer_set.all %}
            <li>{{answer.text}}</li>
        {% endfor %}
        </ol>
    </div>
    <br>
    
    <div class="form"><form action="/question/{{question.id}}/" method="post">
        {% csrf_token %}
        <div class="error">{{error}}</div>
        Give your answer: 
        <input type="text" name="text"><br>
        <input type="submit" value="Add answer"> 
    </form></div>
</center></body>
</html>
